[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
torchvision = "*"
pillow = "*"
ipykernel = "*"
matplotlib = "*"
scikit-learn = "*"
opencv-python = "*"
tensorboard = "*"
rembg = {extras = ["gpu"], version = "*"}
faiss-gpu = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
