[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "*"
torch = "*"
tqdm = "*"
pillow = "*"
cython = "*"
torchvision = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
